<div class="container vh-100">
  <div class="row formw justify-content-center h-100">
    <div class="card my-auto shadow">
      <div class="card-footer text-right">

      </div>
      <div class="card-body px-5  bg-success">
        <div class="text-center">
          <h2>Login First</h2>
        </div>
        <p style="color: black; text-align: center;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
          details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                   name="email" />
          </div>
          <div class="form-group mb-3">
            <input type="password" id="password" placeholder="Password" class="form-control"
                   formControlName="password" name="password" />
          </div>
          <input type="submit" class="btn btn-outline-light w-100" value="Login" name="">
        </form>
      </div>
      <div class="card-footer text-right">

      </div>
    </div>
  </div>
</div>
